body {
  margin: 0;
  display: grid;
 
}
.container{
 display: grid;
  grid-template-columns: 1fr 1fr 20vw;
  grid-template-areas:
    "head head head"
    "main main sidebar"
    "main main sidebar";
}
a{
  text-decoration: none;
}
